<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @review.user %>
</p>

<p>
  <strong>Uid:</strong>
  <%= @review.uid %>
</p>

<p>
  <strong>Git repo:</strong>
  <%= @review.git_repo %>
</p>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
